table {
    background: #fff;
    border: none;
  }
  
  /* ---------------------------------------------- */
  .btn {
    border: none;
    width: 180px;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .btn-outline-danger {
    color: var(--bg-danger-color);
    background: var(--bg-danger-ligth);
    border: 3px solid var(--bg-danger-color);
    transition: all 200ms ease-in-out;
  }
  
  .btn-outline-danger:hover {
    color: #fff;
    background: var(--bg-danger-color);
    border: 3px solid var(--text-danger-color);
  }
  
  .description-width {
    width: 300px;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
    display: block;
    margin: 20px auto;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  tr {
    cursor: grab;
  }
  
  th {
    resize: horizontal;
    /* Makes the cell resizable */
  }
  
  th::-webkit-resizer {
    background-color: transparent;
    padding: 20px;
  }
  
  thead tr {
    cursor: auto;
    /* Disable dragging on the header row */
  }
  
  .center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-btn button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }